# 🔗 DATABASE CONNECTION (SUPABASE Connection Pooling)
DATABASE_URL=postgresql://postgres:DPP%409422359808@db.owhgsymmyfaejfdpwqzz.supabase.co:5432/postgres
# Example: postgresql://postgres.user:password@aws-region.pooler.supabase.com:6543/postgres

# 🔐 JWT CONFIGURATION (For Backend Token Handling)
JWT_SECRET=27a6977c-65b0-4d0e-b329-4b1994d141b0

# 📧 EMAIL CONFIGURATION (Optional - For Auth Emails)
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-app-password

# 🌐 APPLICATION BASE URL
BASE_URL=http://localhost:5000

# 🧬 SUPABASE PROJECT SETTINGS
SUPABASE_URL=https://owhgsymmyfaejfdpwqzz.supabase.co
SUPABASE_ANON_KEY=sb_publishable_FQ99p-TBo-YMj6AfAj8Nfw_UlymnewV

# 🌱 NODE ENVIRONMENT
NODE_ENV=development
# Options: development | production

# ⚛️
# For frontend(Key same as Supabase URL & ANON KEY)
VITE_SUPABASE_URL=https://owhgsymmyfaejfdpwqzz.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_FQ99p-TBo-YMj6AfAj8Nfw_UlymnewV

# 🛡️ SENTRY CONFIGURATION (Error Monitoring)
VITE_SENTRY_DSN=https://321c64c794fbbc4dff1eac93fbe8d482@o4512176965025792.ingest.us.sentry.io/4512176975314944
default_SENTRY_AUTH_TOKEN=your-sentry-auth-token

BLOB_READ_WRITE_TOKEN="token"
